* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
}

button {
    font-family: "Poppis", sans-serif;
}

path, i, svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    color: rgb(233, 233, 233);
}

.color {
    display: flex;
    flex: 1;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
} 

.color h2 {
    font-size: 2rem;
    cursor: pointer;
} 

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: black;
    width: 80%;
    background: rgb(233, 233, 233);
    border-radius: 1rem 1rem 0rem 0rem;
    pointer-events: none;
    opacity: 0; 
    transform: translateY(100px); 
    transition: all 0.5s ease-in-out;
}

.sliders.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.sliders button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.panel button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 1rem;
    background: rgb(5, 5, 34);
}

.panel p {
    font-size: 1.2rem;
}

.library-panel, .generate-panel, .save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adjust, .lock {
    margin: 2rem 0rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: none;
}


input[type="range"] {
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
}

.copy-container {
    position: fixed;
    top: 0;
    left: 0; 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.copy-popup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 2rem;
    transition: transform 1s ease;
    transform: translateY(-2rem);
    min-width: 30%;
    min-height: 30vh;
}

.copy-container.active{
    opacity: 1;
    pointer-events: all;
}

.copy-popup h4 {
    font-size: 2rem;
}

.copy-popup.active {
    transform: translateY(0rem);
}
